@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css */
@keyframes shimmer {
  0% { background-position: -500px 0; }
  100% { background-position: 500px 0; }
}

.animate-shimmer {
  background: linear-gradient(
    90deg,
    #f1f5f9 25%,
    #e2e8f0 37%,
    #f1f5f9 63%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.4s infinite linear;
}
